<div class="row"> 
<!--Menu -->
<div class="col-md-6">
     <h3 class="submitFont">MENU</h3>
    <div id="Menu">

<!--Add burgers to Menu, with number list and "Devour It!" buttons-->
     {{#each burgers}}
        {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">DEVOUR IT!</button>
                  <br>
                </span>
            </div>
          </form>
        {{/unless}}
    {{/each}}
      </div>
    </div>

<!--Devoured Burgers div-->
    <div class="col-md-6">
      <h3 class="submitFont">DEVOURED BURGERS</h3>
      <div id="Devoured">

 <!--Add Devoured Burgers to list-->
     {{#each burgers}}
        {{#if this.devoured}}
        <div class="input-group">
            <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
        </div>
        {{/if}}
     {{/each}}

      </div>
    </div>
</div>